<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/about_bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Weblog Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="dashboard row" *ngIf="loginUser.user">

    <!-- Dashboard control -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="dashboardControl btn-group">
        <a class="btn" href="javascript:void(0);"><i class="fa fa-cog fa-fw"></i> Settings</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a (click)='newBlog()'><i class="fa fa-plus fa-fw"></i> New Blog</a></li>
          <li><a (click)='editBlog()'><i class="fa fa-pencil fa-fw"></i> Edit Blog</a></li>
          <li class="divider"></li>
          <li><a (click)='dashboardLogout()'><i class="fa fa-sign-out"></i> Sign Out</a></li>
        </ul>
      </div>
    </div>

    <!-- Blog details -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="dashboardBlog" *ngIf="editBlogFlag || addNewBlogFlag">
        <div class="input-group">
          <span class="input-group-addon">Title</span>
          <input type="text" class="form-control" #bTitle value="{{ (fbBlogDetails | async)?.Title }}">
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">Short title</span>
          <input type="text" class="form-control" #bSTitle value="{{ (fbBlogDetails | async)?.STitle }}">
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">Author</span>
          <input type="text" class="form-control" #bAuthor value="{{ (fbBlogDetails | async)?.Author }}">
        </div>
        <br/>
        <div class="input-group">
          <textarea name="ckEditor" id="ckEditor" rows="25" cols="80" #ckEditor>
                This is my textarea to be replaced with CKEditor.
                {{ loadCKEditor((fbBlogDetails | async)?.Content) }}
            </textarea>
        </div>
        <br/>
        <!-- Blog control button -->
        <button *ngIf="addNewBlogFlag" type="submit" class="btn" (click)="addBlog(bTitle.value, bSTitle.value, bAuthor.value)">
            <i class="fa fa-plus fa-fw"></i> Add
        </button>
        <button *ngIf="editBlogFlag" type="submit" class="btn" (click)="updateBlog(bTitle.value, bSTitle.value, bAuthor.value)">
            <i class="fa fa-pencil fa-fw"></i> Update
        </button>
      </div>
    </div>

    <!-- alert start -->
    <div class="alert alert-{{dAlertType}} alert-dismissible" *ngIf="dAlert" role="alert">
      <button type="button" class="close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
      <strong>{{dAlertType}}: </strong> {{dAlertMsg}}
    </div>
    <!-- alert end -->
  </div>
</div>