.page-heading {
    padding: 75px 0;
}
.intro-header {
    margin-bottom: 0px;
}

div.alert {
    margin-top: 10px;
}
div.dashboardLogin {
    float: right;
    margin-top: 10px;
}
div.dashboardLogin .btn {
  padding: 6px 12px;
}