.page-heading {
    padding: 60px 0;
}
.intro-header {
    margin-bottom: 0px;
}

.login {
    width: 50%;
}

@media (min-width: 768px) {
.login {
    width: 30%;
}
.alert {
    width: 30%;
}
}

.jumbotron {
    background-color: white;
}
.margin-bottom-sm {
    margin-bottom: 5px !important;
}
.input-group-addon {
    background: white;
}
.btn {
    float: right;
    padding: 6px 12px;
    background: white;
    border: 1px solid #eee;
}
.alert {
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}