<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/about_bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Login to Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="login jumbotron center-block">
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" #username id="username" placeholder="Username">
  </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" #password id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn" (click)="loginUser(username.value, password.value)">
    <i class="fa fa-user" aria-hidden="true"></i>
    Submit
    </button>
</div>

<!-- alert start -->
<div class="alert alert-{{loginAlertType}} alert-dismissible" *ngIf="loginAlert" role="alert">
  <button type="button" class="close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button> {{loginAlertMsg}}
</div>
<!-- alert end -->