<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/post_bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Build a simple modern personal blogging site.</h1>
                    <h2 class="subheading">Using Angular2 and firebase.</h2>
                    <span class="meta">Posted by <a href="#">Divagar M</a> on January 07, 2016</span>
                </div>
            </div>
        </div>
    </div>
</header>