<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/post_bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" *ngIf="fbBlogDetails">
                    <h1>{{ (fbBlogDetails | async)?.Title }}</h1>
                    <h2 class="subheading">{{ (fbBlogDetails | async)?.STitle }}</h2>
                    <span class="meta">Posted by <a href="#">{{ (fbBlogDetails | async)?.Author }}</a>
                     on {{ (fbBlogDetails | async)?.PublishDate }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"
                    [innerHtml]="sanitizer.bypassSecurityTrustHtml((fbBlogDetails | async)?.Content)">
            </div>
        </div>
    </div>
</article>